.accordion-header {
    display: flex;
    align-items: center;
}

.products_container{
    display: none;
}

.App {
    background-color: #ffff7d;
}

.layouts_container {
    background-color: #f7f7f7;
}