.accordion-header {
    display: flex;
    align-items: center;
}

.headerMenu {

}

.products_container{
    display: none;
}

.App {
    background-color: #ffff7d;
}

.layouts_container {
    background-color: #f7f7f7;
}

.inactive {
    color: #ffffff
}
.inactive:hover {
    color: #ffffff
}
.active {
    color: rgb(255, 255, 255) !important;
}

.paginateUl {
    display: flex; 
    list-style: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.paginateLi {
    margin: 10px 10px 0 10px;
}

.paginateButton {
    width: 35px;
    height: 35px;
    background: #168cf8;
    border-radius: 50%;
    border: 0px;
}

.paginateA{
    text-decoration: none;
    color: #ffffff;
}

.paginateA:hover {
    color: #d7d7d7;
    transition: 0.3s;
}

